
body {
  font-family: sans-serif;
  background: #f8fafd;
  padding: 20px;
}
textarea {
  width: 100%;
  height: 180px;
}
.settings {
  margin-top: 10px;
}
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: left;
}
